# Ignore virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and local data
*.log

# Environment variable files (optional)
.env
